:root {
	--color-primary: #38408a;
	--color-secondary: #8e92b7;
	--text-color: #e5e5e5;
	--font-family: 'Bree Serif', serif;
}

::selection {
	background: var(--color-primary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
}

html {
	background: var(--color-primary);
	font-family: var(--font-family);
	font-size: 6.25%;

	transition: background 0.2s ease-in-out;
}

body {
	font-size: 18rem;
	margin: 0 auto;
}
